* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ccc3b5;
}
h1 {
    color: rgba(190, 0, 0, 0.60);
    text-align: center;
}
.app-container {
    margin: 10% auto 0;
}
#app {
    margin: 0 auto;
    width: 80%;
    min-width: 300px;
    max-width: 550px;
    background-color: #ffffff;
    box-shadow: 0 15px 30px 5px #222222;
}
.todo-container {

}
.todo-container .todo-heading {
    height: 65px;
    position: relative;
    display: flex;
    justify-content: flex-start;
}
.todo-heading .toggle-all-container {
    width: 50px;
    transform: rotate(90deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-heading .toggle-all-container::before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
}
.todo-heading .task-input-container {
    flex-grow: 1;
}
.todo-heading .task-input {
    height: 100%;
    width: 100%;
    font-size: 24px;
    border: none;
    padding: 0 5px;
}
.todo-heading .task-input::-moz-placeholder,
.todo-heading .task-input::-webkit-input-placeholder {
    color: #cccccc;
    font-style: italic;
}